---
http_interactions:
- request:
    method: post
    uri: http://etengine.dev/api/v3/scenarios.json
    body:
      encoding: UTF-8
      string: '{"scenario":{"source":"ETM","user_values":{"households_number_of_inhabitants":1.0},"title":"Average
        Scenario","description":"Generated by the compare page","area_code":"nl","end_year":2050}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a4b7053f81aa1ed1f6456954c212625e"'
    body:
      encoding: UTF-8
      string: '{"id":265429,"title":"Average Scenario","area_code":"nl","start_year":2011,"end_year":2050,"url":"http://etengine.dev/api/v3/scenarios/265429","ordering":null,"display_group":null,"source":"ETM","template":null,"created_at":"2014-05-28T22:41:46.563+02:00"}'
  recorded_at: Wed, 28 May 2014 20:41:46 GMT
recorded_with: VCR 2.4.0
