#report
  // TODO This should be 622px, however the sidebar r-margin messes things up.
  width: 632px

  #title h2
    float: none

  .chart
    border: 1px solid #ddd
    margin: 1em 0
    overflow: hidden
    padding-bottom: 5px
    padding: 10px
    width: 600px

    .chart_holder
      float: none
      overflow: hidden

      .chart_canvas
        min-height: 300px

    .legend
      margin: 10px 20px 0 !important
      text-align: center

      .legend-item
        padding: 0 7px
        width: auto !important

    .caption
      border-top: 1px solid #ddd
      color: #777
      font-size: 12px
      line-height: 1.4
      margin: 22px 50px
      padding-top: 20px
      text-align: center
